{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article>
  <header>
    <h1>Katalóg článkov</h1>
  </header>

  <div class="archive">

    <div id="main">
        <div id="content">
          <div>


              <div id="blog-archives" class="category" class="archive">
                {{ range (where .Site.Pages "Type" "post") }}


                   <div class="archive-list">
                      <div>
                         <a href="{{ .Permalink }}" title="{{ .Title }}" class="archive-postname">{{ .Title }}</a><br>
                         <a href="{{ .Permalink }}" title="{{ .Title }}" class="archive-description">{{ .Description }}</a>
                      
                      </div>
                   </div> 


                    <!-- if you want pages summary you can print it here {{ .Summary }} -->

                {{ end }}
              </div>

          </div>

        </div>
      </div>

  </div>



</article>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
