@font-face {
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/VAR/SourceSerifVariable-Roman.ttf.woff2") format("woff2"),
    url("../fonts/VAR/SourceSerifVariable-Roman.ttf.woff") format("woff"),
    url("../fonts/VAR/SourceSerifVariable-Roman.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Variable";
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/VAR/SourceSerifVariable-Italic.ttf.woff2") format("woff2"),
    url("../fonts/VAR/SourceSerifVariable-Italic.ttf.woff") format("woff"),
    url("../fonts/VAR/SourceSerifVariable-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-ExtraLight.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-ExtraLight.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-ExtraLight.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-ExtraLightIt.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-ExtraLightIt.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-ExtraLightIt.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-ExtraLightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-Light.ttf.woff2") format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-Light.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-Light.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-LightIt.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-LightIt.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-LightIt.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-LightIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-Regular.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-Regular.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-Regular.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-It.ttf.woff2") format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-It.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-It.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-It.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-Semibold.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-Semibold.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-Semibold.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-SemiboldIt.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-SemiboldIt.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-SemiboldIt.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-SemiboldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-Bold.ttf.woff2") format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-Bold.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-Bold.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-BoldIt.ttf.woff2") format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-BoldIt.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-BoldIt.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-BoldIt.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-Black.ttf.woff2") format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-Black.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-Black.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Source Serif Pro";
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
  src: url("../fonts/WOFF2/TTF/SourceSerifPro-BlackIt.ttf.woff2")
      format("woff2"),
    url("../fonts/WOFF/OTF/SourceSerifPro-BlackIt.otf.woff") format("woff"),
    url("../fonts/OTF/SourceSerifPro-BlackIt.otf") format("opentype"),
    url("../fonts/TTF/SourceSerifPro-BlackIt.ttf") format("truetype");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}

/* CSS variables */

:root {
  --line-height: 1.5;
  --mobile-width: 520px;
  --text-big: 3vw;
  --text-small: 1.5vw;
}

.light {
  --bd-color: 227, 28, 55;
  --bg-color: 250, 250, 250;
  --grey: 239, 239, 239;
  --placeholder-color: 165, 165, 165;
  --text-color: 30, 30, 30;
}

.dark {
  --bd-color: 227, 28, 55;
  --bg-color: 30, 30, 30;
  --grey: 85, 85, 85;
  --placeholder-color: 85, 85, 85;
  --text-color: 250, 250, 250;
}

@media (prefers-dark-interface) {
  :root {
    --bd-color: 227, 28, 55;
    --bg-color: 30, 30, 30;
    --grey: 85, 85, 85;
    --placeholder-color:  85, 85, 85;
    --text-color: 250, 250, 250;
  }
}

@media all and (max-width: 520px) {
  :root {
    --line-height: 1.4;
    --text-big: 5vw;
    --text-small: 5vw;
  }
}

/* Typography */

body {
  background-color: rgba(var(--bg-color), 1);
  color: rgba(var(--text-color), 1);
  font-family: "Source Serif Variable", "Source Serif Pro", Georgia,
    "Times New Roman", Times, serif;
    font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1;
  font-size: var(--text-small);
  font-weight: 400;
  line-height: var(--line-height);
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1;
  -o-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1;
  -ms-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1, "dlig" 1;
  -webkit-font-feature-settings: "onum" 1, "pnum" 1, "kern" 1, "liga" 1,
    "dlig" 1;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1;
  margin: auto;
  margin-bottom: 0rem;
  padding-bottom: 10%;
  padding-top: 8%;
}

h1 {
  font-size: 7vw;
  width: 70vw;
}

@media all and (max-width: 600px) {
  h1 {
    font-size: 11vw;
    font-weight: 600;
    line-height: 1.1;
    text-align: left;
    width: 90vw;
  }
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-big);
}

.hanging-punctuation {
  text-indent: -0.4em;
}

ol,
ul {
  list-style-position: outside;
  padding-left: 0;
}

@media all and (max-width: 600px) {
  ol,
  ul {
    list-style-position: outside;
    padding-left: 10%;
  }
}

ol li {
  list-style-type: lower-roman;
}

li {
  padding-bottom: 0em;
}

blockquote {
  color: rgba(var(--bd-color), 1);
  font-size: 120%;
  font-style: italic;
  font-weight: 500;
  text-align: center;
}

blockquote > footer {
  font-size: 75%;
  font-variant: small-caps;
  text-align: right;
}

blockquote > footer::before {
  content: "– ";
}

/* Images */

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

figcaption {
  color: rgba(var(--bd-color), 1);
  font-size: 1rem;
  text-align: center;
}

/* Header navigation */

.navbar {
  align-items: center;
  display: flex;
  font-size: var(--text-small);
  padding-left: 30px;
  padding-right: 60px;
}

.navbar > .logo {
  padding-top: 10px;
  width: 600px;
}

.navbar > li {
  box-sizing: border-box;
  font-weight: 800;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

.nav-link:hover {
  color: rgba(var(--bd-color), 1);
}

.nav-first {
  margin-left: auto;
}

@media all and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 0px;
  }

  .navbar > li {
    font-weight: 400;
    padding: 5px;
  }

  .navbar > li:first-child {
    flex: 0 1 100%;
  }

  .navbar > .logo {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5px;
  }

  .nav-first {
    margin-left: auto;
  }
}

/* Homepage */

.homepage {
  margin: auto;
  padding-top: 2em;
  width: 80vw;
}

.homepage > p {
  font-size: var(--text-big);
  margin-bottom: 0;
  padding-bottom: 0.3em;
  padding-top: 0em;
}

.homepage > p > a > img {
  padding-bottom: 0;
  margin-top: 3em;
  margin-bottom: 0;
  width: 90%;
}

.homepage > p > a {
  border: 0;
  box-shadow: inset 0 -5px 0 rgba(var(--bd-color), 1);
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

.homepage > p > a:hover {
  box-shadow: inset 0 -5px 0 rgba(var(--bd-color), 1);
  color: rgba(var(--bd-color), 1);
}

.homepage > h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--text-big);
  margin-bottom: -1em;
  margin-left: 0;
  padding-bottom: 0.3em;
  padding-left: 0px;
  padding-top: 1em;
}

.homepage > blockquote {
  font-size: 2vw;
  margin: auto;
  padding-bottom: 0.3em;
  width: 60vw;
}

@media all and (max-width: 520px) {
  .homepage > p {
    font-size: var(--text-big);
    padding-bottom: 1em;
  }

  .homepage > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-bottom: 1em;
  }

  .homepage > blockquote {
    font-size: 4.5vw;
    width: 100%;
  }

  .homepage > p > a {
    box-shadow: inset 0 -2px 0 rgba(var(--bd-color), 1);
  }

  .homepage > p > a:hover {
    box-shadow: inset 0 -2px 0 rgba(var(--bd-color), 1);
  }

  .homepage {
    width: 90vw;
  }
}

.homepage > ol,
ul {
  font-size: var(--text-big);
  padding-left: 10;
  list-style-position: outside;
  line-height: var(--line-height);
}

.homepage > ol li {
  list-style-type: lower-roman;
}

.homepage > li {
  padding-bottom: 0em;
}

@media all and (max-width: 520px) {
  .homepage > ol,
  ul {
    font-size: var(--text-big);
  }
}

/* Blog post */

section {
  direction: rtl;
  display: grid;
  grid-template-columns: 15fr 24fr 20px 6fr 10fr;
  grid-column-gap: 10px;
}

section > * {
  direction: ltr;
  grid-column: 2;
  text-align: left;
}

section > h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 1em;
}

section > figure {
  grid-column: 1 / -1;
}

section > h1 {
  grid-column: 2 / 4;
}

section > aside {
  direction: ltr;
  grid-column: 4;
  text-align: right;
}

aside {
  color: rgba(var(--bd-color), 1);
  font-size: 1rem;
  padding-top: 1rem;
}

aside {
  clear: both;
  list-style-type: none;
  margin-bottom: 1rem;
}

section > ul {
  font-size: var(--text-small);
}

@media all and (max-width: 520px) {
  aside {
    background: rgba(var(--bg-color), 1);
    border: 1px solid rgba(var(--bd-color), 1);
    border-left: 3px solid rgba(var(--bd-color), 1);
    font-size: 0.9rem;
    padding: 0.5rem;
    width: 90%;
  }
}

aside p + p {
  margin-top: 1em;
}

aside em {
  font-weight: 800;
}

aside img {
  margin-bottom: 0.25em;
}

/* Links */

a {
  color: rgba(var(--text-color), 1);
  text-decoration: none;
}

p > a {
  border: 0;
  box-shadow: inset 0 -2px 0 rgba(var(--bd-color), 1);
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

p > a:hover {
  box-shadow: inset 0 -2px 0 rgba(var(--bd-color), 1);
  color: rgba(var(--bd-color), 1);
}

aside > a {
  box-shadow: inset 0 -1px 0 rgba(var(--bd-color), 1);
}

/* Footer */

article > footer > .newsletter,
.recommended > h3 {
  margin-top: 90px;
  padding-top: 30px;
  text-align: center;
}

article > footer > .newsletter,
.recommended > p {
  margin: auto;
  text-align: center;
  width: 33%;
}

.readnext-flexbox {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 15%;
  padding-right: 15%;
}

.recommended-head {
  font-size: var(--text-small);
  margin: auto;
  text-transform: uppercase;
  width: 100%;
}

article > footer > .newsletter > h3 {
  font-size: 100%;
  margin: auto;
  text-transform: uppercase;
  width: 100%;
}

article > footer > .recommended > h3 {
  font-size: var(--text-small);
  margin: auto;
  text-transform: uppercase;
  width: 100%;
}

.readnext-flexbox > li {
  box-sizing: border-box;
  font-size: calc(var(--text-small) / 1.2);
  list-style-type: none;
  text-align: center;
  width: 220px;
}

.recommended > a:hover {
  color: rgba(var(--bd-color), 1);
}

.recommended-image {
  height: 150px;
}

@media all and (max-width: 520px) {
  .readnext-flexbox > li {
    font-size: 80%;
    width: 100%;
  }

  article > footer > .newsletter,
  .recommended > p {
    width: 100%;
  }

  .recommended-head {
    width: 100%;
  }
}

.copyright {
  color: rgba(var(--grey), 1);
  margin: 30px;
  margin-top: 100px;
  text-align: center;
}

/* Archive */

.archive {
  margin: auto;
  width: 60vw;
}

@media all and (max-width: 520px) {
  .archive {
    list-style: none;
    margin: auto;
    width: 90vw;
  }

  .archive-postname {
    color: rgba(var(--bd-color), 1);
    font-weight: 800;
  }
}

.archive-postname {
  color: rgba(var(--bd-color), 1);
  font-weight: 800;
}

/* Archive Grid */

#blog-archives {
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 75px;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 980px) {
  #blog-archives {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    grid-template-columns: 1fr;
  }
}

/* Additional Responsivness */

@media all and (max-width: 520px) {
  body > * {
    margin: 1rem;
  }

  div.content {
    padding: 0;
  }

  section {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns: 0px 1fr;
  }

  section > * {
    grid-column: 2;
  }

  section > figure {
    grid-column: 2;
  }

  section > header {
    grid-column: 2;
  }

  section > aside {
    grid-column: 2;
  }
}

/* Light Switch */

#nav-light {
  height: 100%;
  margin-top: 2px;
}

#nav-light svg {
  fill: rgba(var(--text-color), 1);
  transition: -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

#nav-light svg:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#nav-light.lights-off svg {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#nav-light.lights-off svg:hover {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

#nav-light button {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}

#nav-light button:focus {
  outline: none;
}

/* Article profile */

.article-profile {
  align-items: center;
  border-top: 3px double rgba(var(--grey), 1);
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 2fr 4fr;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 30px;
  padding-top: 2em;
  width: 39%;
}

.article-profile > img {
  border-radius: 50%;
  grid-column: 1;
  height: auto;
  width: 100%;
}

.article-profile > p {
  font-size: 80%;
  grid-column: 2;
  margin: 0;
  padding: 0;
  text-align: left;
}

@media all and (max-width: 520px) {
  .article-profile {
    align-items: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 2fr 5fr;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
  }
}

/* Social sharing */

.sharethis {
  padding-top: 1em;
  text-align: center;
}
.sharethis a {
  border: none;
  box-shadow: none;
}
.sharethis .twittershare,
.sharethis .facebookshare {
  background-color: rgba(var(--grey), 1);
  border-radius: 3px;
  display: inline-block;
  height: 35px;
  margin: 0px 3px;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  width: 35px;
}

.sharethis .twittershare:hover,
.sharethis .facebookshare:hover {
  background-color: rgba(var(--bd-color), 1);
}

/* Reading progress */
.c-progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: #e31c37;
  height: 3px;
  left: 0;
  margin: unset;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}
.c-progress::-webkit-progress-bar {
  background: transparent;
}
.c-progress::-webkit-progress-value {
  background: #e31c37;
}
.c-progress::-moz-progress-bar {
  background: #e31c37;
}

/* Contact */
.contact {
  column-gap: 30px;
  display: grid;
  grid-template-areas: "contact-text contact-form";
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  margin: auto;
  width: 80%;
}

.contact-text {
  font-size: var(--text-small);
}

.contact-text > ul {
  font-size: var(--text-small);
  list-style: none;
}

.contact-text > h1 {
  color: rgba(var(--bd-color), 1);
  font-size: var(--text-small);
  margin-bottom: 1em;
}

.contact-form {
  font-size: var(--text-big);
  padding-top: 1em;
}

label {
  cursor: pointer;
}

input {
  background: none;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: rgba(var(--text-color), 1);
  cursor: text;
  font-size: calc(var(--text-big) * 0.8);
  font-variant: small-caps;
  font-weight: 800;
  max-width: 90%;
  outline: none;
  padding: 0.25rem;
  text-align: center;
}

input {
  border-bottom: 2px solid rgba(var(--grey), 1);
}

input:required {
  border-bottom: 2px solid rgba(var(--grey), 1);
}

input:focus {
  background-color: rgba(var(--grey), 1);
  border-bottom: none;
}

input:required:valid {
  border-bottom: 2px solid rgba(var(--grey), 1);
}

input:required:invalid {
  color: rgba(var(--text-color), 1);
}

::-webkit-input-placeholder {
  color: rgba(var(--placeholder-color), 1);
  font-variant: small-caps;
  font-weight: 800;
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */

  color: rgba(var(--placeholder-color), 1);
  font-variant: small-caps;
  font-weight: 800;
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */

  color: rgba(var(--placeholder-color), 1);
  font-variant: small-caps;
  font-weight: 800;
  text-align: center;
}

:-ms-input-placeholder {
  color: rgba(var(--placeholder-color), 1);
  font-variant: small-caps;
  font-weight: 800;
  text-align: center;

}

.expanding {
  vertical-align: top;
}

button {
  background-color: rgba(var(--bg-color), 1);
  border: none;
  color: rgba(var(--text-color), 1);
  font-variant-caps: small-caps;
  font-weight: 800;
  text-decoration: underline;
  text-decoration-color: rgba(var(--bd-color), 1);
}

button:hover small {
  color: rgba(var(--bd-color), 1);
}

@media all and (max-width: 600px) {
  .contact {
    column-gap: 30px;
    display: grid;
    grid-template-areas: "contact-text contact-form";
    grid-template-columns: 100%;
    grid-template-rows: auto;
    margin: auto;
    width: 100%;
  }

  .contact > .contact-form {
    grid-row: 1;
  }

  .contact > .contact-text {
    grid-row: 2;
  }
}
