<!DOCTYPE html>
<html lang="{{ .Lang }}">

  <head>
    {{ partial "head-meta.html" . }}

    <link rel="canonical" href="{{ .Permalink }}">

    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

    <link href="{{ .Site.BaseURL }}css/style.css" rel="stylesheet">

    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <link rel="author" href="/humans.txt">

    <link rel="me" href="https://words.codes" type="text/html">
    <link rel="me" href="mailto:branislav.dudas@gmail.com">
    <link rel="me" href="sms:+00421948238327">

    <link rel="archives" href="https://words.codes/blog/">

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#bd0000">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="p:domain_verify" content="5b611a46ac42f1be92373dcee2b5ec34"/>


  </head>

  <body>
    <header>
     <!-- <h1>{{ .Site.Title | safeHTML }}</h1> -->

     <nav>
        <ul class="navbar">
            <li class="logo">
              <a href="/">
                <img src="/logo/logoWC.svg" alt="Words & Codes"/>
              </a>
            </li>
            <li class="nav-first"><a href="/" class="nav-link">Domov</a></li>
            <li><a href="/blog/" class="nav-link">Blog</a></li>
            <li><a href="/index.xml" class="nav-link">RSS</a></li>
        </ul>
    </nav>
      
      {{ if .Site.Params.description }}<p class="subtitle">{{ .Site.Params.description | markdownify }}</p>{{ end }}
    </header>

    {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
    {{ end }}

    <footer>

      <div class="copyright">
          <p>© Branislav Dudáš, 2018</p>
      </div>

      
    </footer>



  </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
