{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<progress class="c-progress js-progress" value="0" max="1"></progress>
<article>
  <header>
    <h1>{{ .Title | markdownify }}</h1>
  </header>

  <section>
    
      {{ .Content }}

  </section>

  {{ partial "social-sharing.html" . }}

  <footer>

    <div class="article-profile">
      <img src="/images/branislav-dudas-words-codes.jpg" alt="Braňo Dudáš, copywriter a kreatívec z Words & Codes">
      <p><strong>Braňo Dudáš</strong><br>
        Tvorí na papieri, edituje na displeji. Skracuje vety a bonsaje. Myslí si, že copywriter musí byť odborník na slovo vzatý. Má mnoho dobrých stránok, ale táto je jeho domovská.</p>
    </div>

    {{ partial "newsletter-signup.html" . }}
    {{ partial "recommended-reading.html" . }}
    {{ partial "blogposting-schema.html" . }}

  </footer>

</article>

<script>
  {
    const progress = document.querySelector('.js-progress');
    const body = document.body;
    const html = document.documentElement;

    const updateSizes = () => ({
      height: Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight),
      vh: Math.max(html.clientHeight, window.innerHeight || 0)
    });

    let scrollY = 0;
    let sizes = updateSizes();

    const update = () => progress.setAttribute('value', 100 - (sizes.height - scrollY - sizes.vh) / sizes.height * 100);

    const onScroll = () => {
      scrollY = (window.pageYOffset || document.scrollTop) - (document.clientTop || 0);
      requestAnimationFrame(update);
    }

    const onResize = () => {
      sizes = updateSizes();
      requestAnimationFrame(update);
    }

    if (progress) {
      progress.setAttribute('max', 100);
      window.addEventListener('scroll', onScroll, false);
      window.addEventListener('resize', onResize, false);
    }
  }
</script>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}