{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article>
  <header>
    <h1>{{ .Title | markdownify }}</h1>
  </header>

  <section>
    {{ .Content }}


    {{ partial "social-sharing.html" . }}
  
  
  </section>

  <footer>
    
    <div class="article-profile">
      <img src="/images/branislav-dudas-words-codes.jpg" alt="Braňo Dudáš, copywriter a kreatívec z Words & Codes">
      <p><strong>Braňo Dudáš</strong><br>Tvorí na papieri, edituje na dipleji. Skracuje vety a bonsaje. Myslí si, že copywriter musí byť odborník na slovo vzatý. Má mnoho dobrých stránok, ale táto je jeho domovská.</p>
    </div>



    <div class="recommended">
      <h3>Odporúčané články:</h3>
      <ul class="readnext-flexbox">

        <li>
          <div class="recommended">
            <a href="/blog/o-povode-zivotnej-filozofie-prirodzenym-vyberom/">
              <img src="/images/epicurus.svg" alt="Epicurus" class="recommended-image">
              <h3 class="recommended-head">O pôvode životnej filozofie prirodzeným výberom</h3>
              <p class="recommended-body">
                  Na strednej škole sme mali filozofiu v rámci náuky o spoločnosti. Naučili sme sa, že podľa Anaxagora rozum Nús usporiadaval semená, že Anaximenes považoval za Arché vzduch, Táles vodu a Herakleitos oheň. Ozaj a pre Anaximandra bolo Arché Apeirón. A teraz si vyber…
              </p>
            </a>
          </div>
        </li>

        <li>
            <div class="recommended">
              <a href="/blog/ako-si-stanovit-ciele-ak-neviete-co-so-zivotom/">
                <img src="/images/thinker.svg" alt="thinker" class="recommended-image">
                <h3 class="recommended-head">Ako si stanoviť ciele, ak neviete, čo so životom</h3>
                <p class="recommended-body">
                    Nemusím mať na nástenke napísané, že do troch rokov chcem byť na čele národnej vetvy nadnárodnej korporácie, stačí mi vedieť, že moja rodina je pre mňa dôležitá a budem im chcieť dať to najlepšie. Moja stratégia je riadiť sa emergentými stratégiami.
                </p>
              </a>
            </div>
          </li>

          <li>
              <div class="recommended">
                <a href="/blog/priviest-dieta-do-tohto-sveta/">
                  <img src="/images/baby.svg" alt="human baby fetus" class="recommended-image">
                  <h3 class="recommended-head">Priviesť dieťa do tohto sveta?</h3>
                  <p class="recommended-body">
                      Raz za čas sa objaví zvesť o tom, aké je nezodpovedné priviesť dieťa do tohto sveta. Ľudia umierajú, úmyselne aj neúmyselne, naschvál aj náhodou, žiaľbohu aj chvalabohu. Niektorí chradnú, iní kradnú, zvieratá trpia, ľady sa topia. Dobre už raz bolo. Vraj.
                  </p>
                </a>
              </div>
            </li>

            <li>
                <div class="recommended">
                  <a href="/blog/evolucia-zdraveho-stravovania-paleo/">
                    <img src="/images/avocado.svg" alt="Avocado" class="recommended-image">
                    <h3 class="recommended-head">Evolúcia zdravého stravovania a paleo diéty</h3>
                    <p class="recommended-body">
                        Naratív “praľudia to nejedli a preto k tomu nie sme prispôsobení” je pútavý, na prvý pohľad je za ním pochopiteľná logika a ak všetko funguje, nevyžaduje zapojenie vyššej signálnej. Problém príde v okamihu, keď sa nedokonalé princípy začnú uplatňovať nedokonalými ľuďmi v praxi.
                    </p>
                  </a>
                </div>
              </li>

    </ul>
    </div>
  </footer>

</article>

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
